* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style  */
body {
    /* background-color: rgb(21, 177, 27); */
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Main Style  */
.site-header {
    background-color: #FFFFFF;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.header-content img {
    max-width: 139px;
}

.header-content nav a {
    text-decoration: none;
    columns: #000000;
    margin-right: 32px;
    max-width: 367px;
    color: #000000;
}
.btn-header {
    color: #FFFFFF;
    background-color: #469165;
    border-radius: 4px;
    font-weight:600;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 #00000025;
    max-width: 164px;
}
.btn-header:hover {
    color: #2ecc71;
}

.hero {
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 115px 120px 179px;
}
.hero-content {
    text-align: center;
}
.btn-hero1 {
    color: #469165;
    border-radius: 1000px;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0 4px 4px 0 #00000025;
    border: none;
    cursor: pointer;
    max-width: 229px;
    margin: 0 auto;
}
.btn-hero1:hover {
    color: #2ebe6a;
}
.hero-subject {
    max-width: 770px;
    line-height: 84px;
    margin: 16px auto;
}
.hero-subject .hero-subject-1st {
    color: #FFFFFF;
    font-size: 72px;
}
.hero-subject .hero-subject-2nd {
    color: #30B868;
    font-size: 72px;
}
.hero-content p {
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-wrap: balance;
}
.btn-hero2 {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 auto; 
}

.btn-hero2 .btn-1st {
    color: #FFFFFF;
    background-color: #469165;
    font-weight: 600;
    max-width: 251px;
    padding: 16px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 20px -12px #00000010;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-hero2 .btn-1st:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
.btn-hero2 .btn-2nd {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    padding: 16px;
    color: #FFFFFF;
    font-weight: 600;
    max-width: 198px;
    border-radius: 4px;
}
.btn-hero2 .btn-2nd:hover {
    color: white;
    background-color: #469165;
} 
.site-main {
    max-width: 1360px;
}
.site-text {
    text-align: bottom;
    line-height: 16px;
    background-color: #FFFFFF;
}
.site-text h1 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 32px;
}
.site-text p {
    color: #627382;
    text-align: center;
    font-size: 16px;
}
.site-card {
    padding-top: 44px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    background-color: #FFFFFF;
}
.card {
    text-align: center;
    max-width: 322px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 #00000027; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .card-image {
    margin-top: 69px;
    margin-bottom: 16px;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-image img {
    border-radius: 50%;
    border: none;
}
.card h3 {
    margin-bottom: 16px;
    color: #001931;
    font-size: 24px;
    padding: 0 24px;
}
.card p {
    margin-bottom: 20px;
    color: #627382;
    font-size: 16px;
    padding: 0 24px;
}

.site-knowledge {
    padding: 120px 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    align-items: center;
}
.site-knowledge .knowledge-img {
    /* max-width: 600px; */
    max-width: 600px;
    width: 100%;
    /* border: 1px solid red; */
    display: block;
}
.knowledge-container {
    /* border: 1px solid purple; */
    /* background-color: yellow; */
    max-width: 700px;
    width: 100%;
}
.knowledge-content {
    
    /* border: 1px solid green; */
}
.site-knowledge h4 {
    color: #469165;
    margin-bottom: 16px;
}
.site-knowledge h1 {
    color: #001931;
    font-size: 48;
    font-weight: bold;
    margin-bottom: 16px;
}
.site-knowledge p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}
/* .knowledge-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.knowledge-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.knowledge-list ul li {
    display: flex;
    align-items: normal;
    gap: 7px;
    line-height: 16px;
}